<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.infrastructure.persistent.dao.IStrategyAwardDao">

    <resultMap id="StragegyAwardMap" type="org.example.infrastructure.persistent.po.StrategyAward">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="award_id" property="awardId"/>
        <result column="award_key" property="awardKey"/>
        <result column="award_config" property="awardConfig"/>
        <result column="award_desc" property="awardDesc"/>
    </resultMap>

    <select id="queryStrategyAwardListByStrategyId" parameterType="java.lang.Long" resultMap="StragegyAwardMap">
        select strategy_id, award_id, award_count, award_count_surplus, award_rate
        from strategy_award
        where strategy_id = #{strategy_id}
    </select>

</mapper>



<!--        private long strategy_id;-->
<!--        private int award_id;-->
<!--        private String award_title;-->
<!--        private String award_subtitle;-->
<!--        private int award_count;-->
<!--        private int award_count_surplus;-->